@switch (userType) {
    @case ('personal') {
        <form (submit)="onSubmit($event)" [formGroup]="personalForm" class="w-full flex flex-col p-2 text-slate-700">
           
            <!-- NAME LABEL -->
            <label for="nombre">
                <span class="after:content-['*'] after:ml-0.5 after:text-red-500 block text-sm font-medium text-slate-700">
                    Nombre:
                </span>
            </label>
            <!-- NAME VALIDATION -->
            @if(personalName.invalid && (personalName.touched || personalName.dirty)){
                <div class="text-red-700 font-bold">
                    <div *ngIf="personalName.errors?.['required']">Nombre es obligatorio.</div>
                    <div *ngIf="personalName.errors?.['length']">El nombre es muy largo.</div>
                </div>
            }
            <!-- NAME INPUT -->
            <input formControlName="nombre" type="text" name="nombre" class="mt-1 px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-teal-600 focus:ring-teal-600 block w-full rounded-md sm:text-sm focus:ring-1">
            
            <!-- LASTNAME LABEL -->
            <label for="apellido">
                <span class="after:content-['*'] after:ml-0.5 after:text-red-500 block text-sm font-medium text-slate-700">
                    Apellido:
                </span>
            </label>
            <!-- LASTNAME VALIDATION -->
            @if(personalLastName.invalid && (personalLastName.touched || personalLastName.dirty)){
                <div class="text-red-700 font-bold">
                    <div *ngIf="personalLastName.errors?.['required']">Apellido es obligatorio.</div>
                    <div *ngIf="personalLastName.errors?.['length']">El apellido es muy largo.</div>
                </div>
            }
            <!-- LASTNAME INPUT -->
            <input formControlName="apellido" name="apellido" class="mt-1 px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-teal-600 focus:ring-teal-600 block w-full rounded-md sm:text-sm focus:ring-1">
            
            <!-- POHNE NUMBER LABEL -->
            <label for="telefono">
                <span class="after:content-['*'] after:ml-0.5 after:text-red-500 block text-sm font-medium text-slate-700">
                    Numero de telefono:
                </span>
            </label>
            <!-- PHONE NUMBER VALIDATION -->
            @if(personalPhoneNumber.invalid && (personalPhoneNumber.touched || personalPhoneNumber.dirty)){
                <div class="text-red-700 font-bold">
                    <div *ngIf="personalPhoneNumber.errors?.['required']">El numero de telefono es obligatorio.</div>
                    <div *ngIf="personalPhoneNumber.errors?.['pattern']">El numero de telefono tiene que ser numerico.</div>
                </div>
            }
            <!-- PHONE NUMBER INPUT -->
            <input type="number" inputmode="numeric" formControlName="telefono" name="telefono" class="mt-1 px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-teal-600 focus:ring-teal-600 block w-full rounded-md sm:text-sm focus:ring-1">

            <!-- CEDULA LABEL-->
            <label for="cedula" >
                <span class="after:content-['*'] after:ml-0.5 after:text-red-500 block text-sm font-medium text-slate-700">
                    Cedula:
                </span>
            </label>
            <!-- CEDULA VALIDATION -->
            @if(personalCedula.invalid && (personalCedula.touched || personalCedula.dirty)){
                <div class="text-red-700 font-bold">
                    <div *ngIf="personalCedula.errors?.['required']">Cedula es obligatorio.</div>
                    <div *ngIf="personalCedula.errors?.['pattern']">Cedula tiene que ser numerico.</div>
                </div>
            }
            <!-- CEDULA INPUTS -->
            <div class="flex">
                <!-- CEDULA TYPES -->
                <select formControlName="cedula_tipo" name="cedula_tipo" class="basis-12 border rounded-l-md mt-1 px-3 py-2 shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-teal-600 focus:ring-teal-600 focus:ring-1">
                    @for (item of selectTypes; track selectTypes) {
                        <option [ngValue]="item">{{item}}</option>
                    }
                </select>
                <!-- CEDULA INPUT -->
                <input type="number" inputmode="numeric" formControlName="cedula" type="text" name="cedula" class="basis-full border rounded-r-md mt-1 px-3 py-2 shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-teal-600 focus:ring-teal-600 focus:ring-1">
            </div>
            <!-- RIF LABEL -->
            <label for="rif">
                <span class="after:content-['*'] after:ml-0.5 after:text-red-500 block text-sm font-medium text-slate-700">
                    Rif:
                </span>
            </label>
            <!-- RIF VALIDATION -->
            @if(personalRif.invalid && (personalRif.touched || personalRif.dirty)){
                <div class="text-red-700 font-bold">
                    <div *ngIf="personalRif.errors?.['required']">Rif es obligatorio.</div>
                    <div *ngIf="personalRif.errors?.['pattern']">Rif tiene que ser numerico.</div>
                </div>
            }
            <!-- RIF INPUTS -->
            <div class="flex">
                <!-- RIF TYPES -->
                <select formControlName="rif_tipo" name="rif_tipo" class="basis-12 border rounded-l-md mt-1 px-3 py-2 shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-teal-600 focus:ring-teal-600 focus:ring-1">
                    @for (item of selectTypes; track selectTypes) {
                        <option [ngValue]="item">{{item}}</option>
                    }
                </select>
                <!-- RIF INPUT -->
                <input type="number" inputmode="numeric" formControlName="rif" type="text" name="rif" class="basis-full border rounded-r-md mt-1 px-3 py-2 shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-teal-600 focus:ring-teal-600 focus:ring-1">
            </div>
            <!-- EMAIL LABEL -->
            <label for="email">
                <span class="after:content-['*'] after:ml-0.5 after:text-red-500 block text-sm font-medium text-slate-700">
                    Email:
                </span>
            </label>
             <!-- EMAIL VALIDATION -->
             @if(personalEmail.invalid && (personalEmail.touched || personalEmail.dirty)){
                <div class="text-red-700 font-bold">
                    <div *ngIf="personalEmail.errors?.['required']">Email es obligatorio.</div>
                    <div *ngIf="personalEmail.errors?.['email']">El email tiene que ser valido.</div>
                </div>
            }
            <!-- EMAIL INPUT -->
            <input  formControlName="email" type="email" name="email" class="mt-1 px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-teal-600 focus:ring-teal-600 block w-full rounded-md sm:text-sm focus:ring-1">
            <!-- BIRTHDAY LABEL -->
            <label for="fecha_nacimiento">
                <span class="after:content-['*'] after:ml-0.5 after:text-red-500 block text-sm font-medium text-slate-700">
                    Fecha de nacimiento:
                </span>
            </label>
            <!-- BIRTHDAY VALIDATION -->
            @if(personalBirthday.invalid && (personalBirthday.touched || personalBirthday.dirty)){
                <div class="text-red-700 font-bold">
                    <div *ngIf="personalBirthday.errors?.['required']">La fecha de nacimiento es obligatoria.</div>
                </div>
            }
            <!-- BIRTHDAY INPUT -->
            <input formControlName="fecha_nacimiento" type="date" name="fecha_nacimiento" class="mt-1 px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-teal-600 focus:ring-teal-600 block w-full rounded-md sm:text-sm focus:ring-1">
            <!-- ADRESS LABEL -->
            <label for="direccion">
                <span class="after:content-['*'] after:ml-0.5 after:text-red-500 block text-sm font-medium text-slate-700">
                    Direccion:
                </span>
            </label>
            @if(personalAdress.invalid && (personalAdress.touched || personalAdress.dirty)){
                <div class="text-red-700 font-bold">
                    <div *ngIf="personalAdress.errors?.['required']">La direccion es obligatoria.</div>
                    <div *ngIf="personalAdress.errors?.['maxLength']">La direccion es muy larga.</div>
                </div>
            }
            <!-- ADRESS INPUT -->
            <input formControlName="direccion" type="text" name="direccion" class="mt-1 px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-teal-600 focus:ring-teal-600 block w-full rounded-md sm:text-sm focus:ring-1">
            <!-- ACADEMIC GRADE INPUT -->
            <label for="id_grado_academico">
                <span class="after:content-['*'] after:ml-0.5 after:text-red-500 block text-sm font-medium text-slate-700">
                    Grado academico:
                </span>
            </label>
            <div>
                <select formControlName="id_grado_academico" name="id_grado_academico" class="mt-1 px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-teal-600 focus:ring-teal-600 block w-full rounded-md sm:text-sm focus:ring-1">
                    @for (item of academicDegrees; track academicDegrees) {
                        <option [ngValue]="item.id">{{item.nombre}}</option>
                    }
                </select>
            </div>
               <!-- PERSONAL TYPE INPUT -->
               <label for="id_tipo_personal">
                <span class="after:content-['*'] after:ml-0.5 after:text-red-500 block text-sm font-medium text-slate-700">
                    Tipo de personal:
                </span>
            </label>
            <div>
                <select formControlName="id_tipo_personal" name="id_tipo_personal" class="mt-1 px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-teal-600 focus:ring-teal-600 block w-full rounded-md sm:text-sm focus:ring-1">
                    @for (item of personalTypes; track personalTypes) {
                        <option [ngValue]="item.id">{{item.nombre}}</option>
                    }
                </select> 
            </div>
            <!-- TURNO LABEL -->
            <label for="id_turno">
                <span class="after:content-['*'] after:ml-0.5 after:text-red-500 block text-sm font-medium text-slate-700">
                    Turno:
                </span>
            </label> 
                   <!--TURNO INPUT  -->
            <div>
                <select formControlName="id_turno" name="id_turno" class="mt-1 px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-teal-600 focus:ring-teal-600 block w-full rounded-md sm:text-sm focus:ring-1">
                    @for (item of turnoList; track turnoList) {
                        <option [ngValue]="item.id">{{item.nombre}}</option>
                    }
                </select> 
            </div>
            @if(!loding){
                <!-- SUBMIT BUTTON -->
                <button class="disabled:bg-slate-400 disabled:opacity-75 disabled:hover:bg-slate-400 bg-teal-700 hover:bg-teal-800 my-4 py-2 rounded-full text-white font-semibold text-xl" type="submit" [disabled]="personalForm.invalid">Crear</button>
            }@else {
                <div class="flex mx-auto my-4 w-16 h-16">
                    <app-loading-spinner></app-loading-spinner>
                </div>
            }
        </form>
    }
    @case ('alumno') {
        <form (submit)="onSubmit($event)" [formGroup]="alumnoForm" class="w-full flex flex-col p-2 text-slate-700">
           
            <!-- NAME LABEL -->
            <label for="nombre ">
                <span class="after:content-['*'] after:ml-0.5 after:text-red-500 block text-sm font-medium text-slate-700">
                    Nombre:
                </span>
            </label>
            <!-- NAME VALIDATION -->
            @if(alumnoName.invalid && (alumnoName.touched || alumnoName.dirty)){
                <div class="text-red-700 font-bold">
                    <div *ngIf="alumnoName.errors?.['required']">Nombre es obligatorio.</div>
                    <div *ngIf="alumnoName.errors?.['length']">El nombre es muy largo.</div>
                </div>
            }
            <!-- NAME INPUT -->
            <input formControlName="nombre" type="text" name="nombre" class="mt-1 px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-teal-600 focus:ring-teal-600 block w-full rounded-md sm:text-sm focus:ring-1">
            
           
            <!-- LASTNAME LABEL -->
            <label for="apellido">
                <span class="after:content-['*'] after:ml-0.5 after:text-red-500 block text-sm font-medium text-slate-700">
                    Apellido:
                </span>
            </label>
            <!-- LASTNAME VALIDATION -->
            @if(alumnoLastName.invalid && (alumnoLastName.touched || alumnoLastName.dirty)){
                <div class="text-red-700 font-bold">
                    <div *ngIf="alumnoLastName.errors?.['required']">Apellido es obligatorio.</div>
                    <div *ngIf="alumnoLastName.errors?.['length']">El apellido es muy largo.</div>
                </div>
            }
            <!-- LASTNAME INPUT -->
            <input formControlName="apellido" name="apellido" class="mt-1 px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-teal-600 focus:ring-teal-600 block w-full rounded-md sm:text-sm focus:ring-1">

            <!-- EMAIL LABEL -->
            <label for="email">
                <span class="after:content-['*'] after:ml-0.5 after:text-red-500 block text-sm font-medium text-slate-700">
                    Email:
                </span>
            </label>
            <!-- EMAIL VALIDATION -->
            @if(alumnoEmail.invalid && (alumnoEmail.touched || alumnoEmail.dirty)){
                <div class="text-red-700 font-bold">
                    <div *ngIf="alumnoEmail.errors?.['required']">El Email es obligatoria.</div>
                    <div *ngIf="alumnoEmail.errors?.['email']">El Email tiene que ser valido.</div>
                </div>
            }
            <!-- EMAIL INPUT -->
            <input formControlName="email" type="text" name="email" class="mt-1 px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-teal-600 focus:ring-teal-600 block w-full rounded-md sm:text-sm focus:ring-1">
            
             <!-- BIRTHDAY LABEL -->
             <label for="fecha_nacimiento">
                <span class="after:content-['*'] after:ml-0.5 after:text-red-500 block text-sm font-medium text-slate-700">
                    Fecha de nacimiento:
                </span>
            </label>
            <!-- BIRTHDAY VALIDATION -->
            @if(alumnoBirthday.invalid && (alumnoBirthday.touched || alumnoBirthday.dirty)){
                <div class="text-red-700 font-bold">
                    <div *ngIf="alumnoBirthday.errors?.['required']">La fecha de nacimiento es obligatoria.</div>
                </div>
            }
            <!-- BIRTHDAY INPUT -->
            <input formControlName="fecha_nacimiento" type="date" name="fecha_nacimiento" class="mt-1 px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-teal-600 focus:ring-teal-600 block w-full rounded-md sm:text-sm focus:ring-1">

            <!-- CEDULA LABEL-->
            <label for="cedula" >
                <span class="after:content-['*'] after:ml-0.5 after:text-red-500 block text-sm font-medium text-slate-700">
                    Cedula:
                </span>
            </label>
            <!-- CEDULA VALIDATION -->
            @if(alumnoCedula.invalid && (alumnoCedula.touched || alumnoCedula.dirty)){
                <div class="text-red-700 font-bold">
                    <div *ngIf="alumnoCedula.errors?.['required']">Cedula es obligatorio.</div>
                    <div *ngIf="alumnoCedula.errors?.['pattern']">Cedula tiene que ser numerico.</div>
                </div>
            }
            <!-- CEDULA INPUTS -->
            <div class="flex">
                <!-- CEDULA TYPES -->
                <select formControlName="cedula_tipo" name="cedula_tipo" class="basis-12 border rounded-l-md mt-1 px-3 py-2 shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-teal-600 focus:ring-teal-600 focus:ring-1">
                    @for (item of selectTypes; track selectTypes) {
                        <option [ngValue]="item">{{item}}</option>
                    }
                </select>
                <!-- CEDULA INPUT -->
                <input type="number" inputmode="numeric" formControlName="cedula" type="text" name="cedula" class="basis-full border rounded-r-md mt-1 px-3 py-2 shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-teal-600 focus:ring-teal-600 focus:ring-1">
            </div>

            <!-- PARENT CEDULA LABEL-->
            <label for="parent_cedula" >
                <span class="after:content-['*'] after:ml-0.5 after:text-red-500 block text-sm font-medium text-slate-700">
                    Cedula del padre:
                </span>
            </label>
            <!-- PARENT CEDULA VALIDATION -->
            @if(alumnoParentCedula.invalid && (alumnoParentCedula.touched || alumnoParentCedula.dirty)){
                <div class="text-red-700 font-bold">
                    <div *ngIf="alumnoParentCedula.errors?.['required']">La cedula del padre es es obligatorio.</div>
                    <div *ngIf="alumnoParentCedula.errors?.['pattern']">La cedula del padre tiene que ser numerica.</div>
                </div>
            }
            <!-- PARENT CEDULA INPUTS -->
            <div class="flex">
                <!-- PARENT CEDULA TYPES -->
                <select formControlName="parent_cedula_tipo" name="parent_cedula_tipo" class="basis-12 border rounded-l-md mt-1 px-3 py-2 shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-teal-600 focus:ring-teal-600 focus:ring-1">
                    @for (item of selectTypes; track selectTypes) {
                        <option [ngValue]="item">{{item}}</option>
                    }
                </select>
                <!-- PARENT CEDULA INPUT -->
                <input type="number" inputmode="numeric" formControlName="parent_cedula" type="text" name="cedula" class="basis-full border rounded-r-md mt-1 px-3 py-2 shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-teal-600 focus:ring-teal-600 focus:ring-1">
            </div>
           
            <!-- BIOLOGICAL SEX LABEL-->
            <label for="parent_cedula" >
                <span class="after:content-['*'] after:ml-0.5 after:text-red-500 block text-sm font-medium text-slate-700">
                    Sexo:
                </span>
            </label>
            <!-- BIOLOGICAL SEX VALIDATION -->
            @if(alumnoBiologicalSex.invalid && (alumnoBiologicalSex.touched || alumnoBiologicalSex.dirty)){
                <div class="text-red-700 font-bold">
                    <div *ngIf="alumnoBiologicalSex.errors?.['required']">Cedula es obligatorio.</div>
                </div>
            }

            <select formControlName="id_sexo" name="alumnoBiologicalSex" class="basis-12 border rounded-l-md mt-1 px-3 py-2 shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-teal-600 focus:ring-teal-600 focus:ring-1">
                @for (item of biologicalSex; track biologicalSex) {
                    <option [ngValue]="item.id">{{item.name}}</option>
                }
            </select>

             <!-- TURNO LABEL -->
             <label for="id_turno">
                <span class="after:content-['*'] after:ml-0.5 after:text-red-500 block text-sm font-medium text-slate-700">
                    Turno:
                </span>
            </label> 
                   <!--TURNO INPUT  -->
            <div>
                <select formControlName="id_turno" name="id_turno" class="mt-1 px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-teal-600 focus:ring-teal-600 block w-full rounded-md sm:text-sm focus:ring-1">
                    @for (item of turnoList; track turnoList) {
                        <option [ngValue]="item.id">{{item.nombre}}</option>
                    }
                </select> 
            </div>

             <!-- SECCION LABEL -->
             <label for="id_seccion">
                <span class="after:content-['*'] after:ml-0.5 after:text-red-500 block text-sm font-medium text-slate-700">
                    Seccion:
                </span>
            </label> 
                   <!--Seccion INPUT  -->
            <div>
                <select formControlName="id_seccion" name="id_seccion" class="mt-1 px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-teal-600 focus:ring-teal-600 block w-full rounded-md sm:text-sm focus:ring-1">
                    @for (item of seccionList; track seccionList) {
                        <option [ngValue]="item.id">{{item.nombre}}</option>
                    }
                </select> 
            </div>

            <!-- GRADO ESCOLAR LABEL -->
            <label for="id_grado_escolar">
                <span class="after:content-['*'] after:ml-0.5 after:text-red-500 block text-sm font-medium text-slate-700">
                    Grado escolar:
                </span>
            </label> 
                   <!--GRADO ESCOLAR INPUT  -->
            <div>
                <select formControlName="id_grado_escolar" name="id_grado_escolar" class="mt-1 px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-teal-600 focus:ring-teal-600 block w-full rounded-md sm:text-sm focus:ring-1">
                    @for (item of gradoEscolarList; track gradoEscolarList) {
                        <option [ngValue]="item.id">{{item.nombre}}</option>
                    }
                </select> 
            </div>
            
            @if(!loding){
                <!-- SUBMIT BUTTON -->
                <button class="disabled:bg-slate-400 disabled:opacity-75 disabled:hover:bg-slate-400 bg-teal-700 hover:bg-teal-800 my-4 py-2 rounded-full text-white font-semibold text-xl" type="submit" [disabled]="alumnoForm.invalid ">Crear</button>
            }@else {
                <div class="flex mx-auto my-4 w-16 h-16">
                    <app-loading-spinner></app-loading-spinner>
                </div>
            }
        </form>
    }
    @case ('representante') {
        <form (submit)="onSubmit($event)" [formGroup]="representanteForm" class="w-full flex flex-col p-2 text-slate-700">
           
            <!-- NAME LABEL -->
            <label for="nombre ">
                <span class="after:content-['*'] after:ml-0.5 after:text-red-500 block text-sm font-medium text-slate-700">
                    Nombre:
                </span>
            </label>
            <!-- NAME VALIDATION -->
            @if(representanteName.invalid && (representanteName.touched || representanteName.dirty)){
                <div class="text-red-700 font-bold">
                    <div *ngIf="representanteName.errors?.['required']">Nombre es obligatorio.</div>
                    <div *ngIf="representanteName.errors?.['length']">El nombre es muy largo.</div>
                </div>
            }
            <!-- NAME INPUT -->
            <input formControlName="nombre" type="text" name="nombre" class="mt-1 px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-teal-600 focus:ring-teal-600 block w-full rounded-md sm:text-sm focus:ring-1">
           
            <!-- LASTNAME LABEL -->
            <label for="apellido">
                <span class="after:content-['*'] after:ml-0.5 after:text-red-500 block text-sm font-medium text-slate-700">
                    Apellido:
                </span>
            </label>
            <!-- LASTNAME VALIDATION -->
            @if(representanteLastName.invalid && (representanteLastName.touched || representanteLastName.dirty)){
                <div class="text-red-700 font-bold">
                    <div *ngIf="representanteLastName.errors?.['required']">Apellido es obligatorio.</div>
                    <div *ngIf="representanteLastName.errors?.['length']">El apellido es muy largo.</div>
                </div>
            }
            <!-- LASTNAME INPUT -->
            <input formControlName="apellido" name="apellido" class="mt-1 px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-teal-600 focus:ring-teal-600 block w-full rounded-md sm:text-sm focus:ring-1">

            <!-- ADRESS LABEL -->
            <label for="adress">
                <span class="after:content-['*'] after:ml-0.5 after:text-red-500 block text-sm font-medium text-slate-700">
                    Direccion:
                </span>
            </label>
            <!-- ADRESS VALIDATION -->
            @if(representanteAdress.invalid && (representanteAdress.touched || representanteAdress.dirty)){
                <div class="text-red-700 font-bold">
                    <div *ngIf="representanteAdress.errors?.['required']">La direccion es obligatorio.</div>
                    <div *ngIf="representanteAdress.errors?.['length']">La direccion es muy largo.</div>
                </div>
            }
            <!-- ADRESS INPUT -->
            <input formControlName="direccion" name="direccion" class="mt-1 px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-teal-600 focus:ring-teal-600 block w-full rounded-md sm:text-sm focus:ring-1">

            <!-- EMAIL LABEL -->
            <label for="email">
                <span class="after:content-['*'] after:ml-0.5 after:text-red-500 block text-sm font-medium text-slate-700">
                    Email:
                </span>
            </label>
            <!-- EMAIL VALIDATION -->
            @if(representanteEmail.invalid && (representanteEmail.touched || representanteEmail.dirty)){
                <div class="text-red-700 font-bold">
                    <div *ngIf="representanteEmail.errors?.['required']">El Email es obligatoria.</div>
                    <div *ngIf="representanteEmail.errors?.['email']">El Email tiene que ser valido.</div>
                </div>
            }
            <!-- EMAIL INPUT -->
            <input formControlName="email" type="text" name="email" class="mt-1 px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-teal-600 focus:ring-teal-600 block w-full rounded-md sm:text-sm focus:ring-1">
            
            <!-- PHONENUMBER LABEL -->
            <label for="phoneNumber">
                <span class="after:content-['*'] after:ml-0.5 after:text-red-500 block text-sm font-medium text-slate-700">
                    Numero de telefono:
                </span>
            </label>
            <!-- PHONENUMBER VALIDATION -->
            @if(representantePhoneNumber.invalid && (representantePhoneNumber.touched || representantePhoneNumber.dirty)){
                <div class="text-red-700 font-bold">
                    <div *ngIf="representantePhoneNumber.errors?.['required']">El numero de telefono es obligatorio.</div>
                    <div *ngIf="representantePhoneNumber.errors?.['pattern']">El numero de telefono tiene que ser un valor numerico.</div>
                </div>
            }
            <!-- PHONENUMBER INPUT -->
            <input formControlName="telefono" type="number" inputmode="numeric" name="phoneNumber" class="mt-1 px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-teal-600 focus:ring-teal-600 block w-full rounded-md sm:text-sm focus:ring-1">
            
             <!-- BIRTHDAY LABEL -->
             <label for="fecha_nacimiento">
                <span class="after:content-['*'] after:ml-0.5 after:text-red-500 block text-sm font-medium text-slate-700">
                    Fecha de nacimiento:
                </span>
            </label>
            <!-- BIRTHDAY VALIDATION -->
            @if(representanteBirthday.invalid && (representanteBirthday.touched || representanteBirthday.dirty)){
                <div class="text-red-700 font-bold">
                    <div *ngIf="representanteBirthday.errors?.['required']">La fecha de nacimiento es obligatoria.</div>
                </div>
            }
            <!-- BIRTHDAY INPUT -->
            <input formControlName="fecha_nacimiento" type="date" name="fecha_nacimiento" class="mt-1 px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-teal-600 focus:ring-teal-600 block w-full rounded-md sm:text-sm focus:ring-1">

            <!-- CEDULA LABEL-->
            <label for="cedula" >
                <span class="after:content-['*'] after:ml-0.5 after:text-red-500 block text-sm font-medium text-slate-700">
                    Cedula:
                </span>
            </label>
            <!-- CEDULA VALIDATION -->
            @if(representanteCedula.invalid && (representanteCedula.touched || representanteCedula.dirty)){
                <div class="text-red-700 font-bold">
                    <div *ngIf="representanteCedula.errors?.['required']">Cedula es obligatorio.</div>
                    <div *ngIf="representanteCedula.errors?.['pattern']">Cedula tiene que ser numerico.</div>
                </div>
            }
            <!-- CEDULA INPUTS -->
            <div class="flex">
                <!-- CEDULA TYPES -->
                <select formControlName="cedula_tipo" name="cedula_tipo" class="basis-12 border rounded-l-md mt-1 px-3 py-2 shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-teal-600 focus:ring-teal-600 focus:ring-1">
                    @for (item of selectTypes; track selectTypes) {
                        <option [ngValue]="item">{{item}}</option>
                    }
                </select>
                <!-- CEDULA INPUT -->
                <input type="number" inputmode="numeric" formControlName="cedula" type="text" name="cedula" class="basis-full border rounded-r-md mt-1 px-3 py-2 shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-teal-600 focus:ring-teal-600 focus:ring-1">
            </div>



            
            @if(!loding){
                <!-- SUBMIT BUTTON -->
                <button class="disabled:bg-slate-400 disabled:opacity-75 disabled:hover:bg-slate-400 bg-teal-700 hover:bg-teal-800 my-4 py-2 rounded-full text-white font-semibold text-xl" type="submit" [disabled]="representanteForm.invalid ">Crear</button>
            }@else {
                <div class="flex mx-auto my-4 w-16 h-16">
                    <app-loading-spinner></app-loading-spinner>
                </div>
            }
        </form>
    }
}