<header class="bg-teal-600 py-2 h-14 flex flex-row items-center">
    <h1 class="text-white font-bold text-center sm:text-left text-lg basis-full sm:basis-1/2 pl-0 sm:pl-10">
        ESCUELA BASICA ARAURE
    </h1>
    @if(windowInnerWidth>640){
        <nav id="navigation" class="flex flex-row  basis-1/2 *:text-white *:list-none justify-around *:font-semibold *:hover:cursor-pointer">
            <a href="/home">
                <li >HOME</li>
            </a>
            <a href="/users">
                <li >USERS</li>
            </a>
            <!-- <a href="/config">
                <li>CONFIG</li>
            </a> -->
        </nav>
    }
</header>